<div class="container text-center">
    <md-card>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="First Name" [(ngModel)]="searchCriteria.FIRST_NAME">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Last Name" [(ngModel)]="searchCriteria.LAST_NAME">
        </md-form-field>
    </md-card>
</div>
<div class="container text-center">
    <md-card>
        <button style="width:45%" md-raised-button color="primary" class="fullWidth" (click)="Fetch_Data()">Search</button>
        <button style="width:45%" md-raised-button color="warn" class="fullWidth" (click)="Add_Person()">Add</button>
    </md-card>
    <!-- <div class="btn-group btn-group-justified">        
        <a class="btn btn-primary" (click)='Fetch_Data()'>
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
        <a class="btn btn-info" (click)='Add_Person()'>
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div> -->
</div>
<div style="height: 10px;"></div>
<div class="container">
    <div class="row">
        <app-person-detail [person]='person' *ngFor='let person of result'></app-person-detail>
    </div>
</div>